<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head></head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>BC</title> 
    </head>
    <body>
        <header>
            <!-- Nav Start -->
            <nav>
                <div class="logo">
                    <h4><a href=#home>bcTech</a></h4>
                </div>
                <ul class="nav-links">
                    <li>
                        <a href=#home>Home</a>
                    </li>
                    <li>
                        <a href=#about>About</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#goals">Goals</a>
                    </li>
                </ul>
                <!-- Burger Menu -->
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <!-- Burger Menu -->
            </nav>
            <!-- Nav End -->
        </header>

        <!-- Home START -->
        <section class="home" id=home>
            <div class="masthead-container">
                <img class="masthead-banner" src="{% static 'images/wordart.jpeg' %}" alt="masthead banner">
            </div>
        </section>
        <!-- Home END -->

        <!-- About START -->
        <section class="about" id="about">

            <div class="about-top">
                <div class="top-row-1">
                    <p class="lead">
                        About
                    </p>
                </div>
                <div class="top-row-2">
                    <p class="lead">
                        Server and Storage Analyst
                    </p>
                </div>
                <div class="top-row-3">
                    <p class="lead">
                        I really enjoy working on cutting-edge projects and developing enabling new technologies
                         in the hope that these will one day translate back to the real world and have a direct impact on our lives.
                          I also enjoy being surrounded by brilliant people that share the vision of “technology for good” and I’m
                           truly humbled by their support. Meanwhile, I’m excited by the ever-growing challenges I’m faced with as
                            my career unfolds and keen to take them on.
                    </p>
                </div>
            </div>
            <div class="about-middle">
                <div class="about-middle-left">
                    <div class="about-middle-row-1">
                        <p class="lead">
                            Background
                        </p>
                    </div>
                    <div class="about-middle-row-2">
                        <p class="lead">
                            My background is in IT Support, however I would like to make the move towards a programming role.
                            My background is in IT Support, however I would like to make the move towards a programming role.
                            My background is in IT Support, however I would like to make the move towards a programming role.
                        </p>
                    </div>
                </div>
                <div class="about-middle-right">
                        <img class="about-background-img left-round right-round" src="{% static 'images/ben beach.jpeg' %}" alt="image of me">
                </div>
            </div>
            <div class="about-bottom">
                <div class="about-bottom-left">
                    <img class="about-background-img left-round right-round" src="{% static 'images/desk.jpeg' %}" alt="image of desk">
                </div>
                <div class="about-bottom-right">
                    <div class="about-bottom-row-1">
                        <p class="lead">
                            Direction
                        </p>
                    </div>
                    <div class="about-bottom-row-2">
                        <p class="lead">
                            My background is in IT Support, however I would like to make the move towards a programming role.
                            My background is in IT Support, however I would like to make the move towards a programming role.
                            My background is in IT Support, however I would like to make the move towards a programming role.
                        </p>
                    </div>  
                </div>
            </div>
        </section>
        <!-- About END -->

        <!-- Projects START -->
        <section class="projects" id="projects">
            <div class="projects-top">
                <div class="projects-top-row-1">
                    <p class="lead">
                        Projects
                    </p>
                <div class="projects-top-row-2">
                    <p class="lead">
                        Placeholder
                    </p>
            </div>
            <div class="projects-middle">
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
                <div class="projects-box">
                    <h1>Text</h1>
                </div>
            </div>
        </section>
        <!-- Projects END -->

        <!-- Goals START -->
        <section class="goals" id="goals">
            <div class="goals-top">
                <div class="top-row-1">
                    <p class="lead">
                        Goals
                    </p>
                    </div>
                <div class="top-row-2">
                    <p class="lead">
                        Career Progression
                    </p>
                </div>
                <div class="top-row-3">
                    <p class="lead">
                        Short Term Goals
                    </p>
                </div>
            </div>


            <div class=styled-table-position>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Topic</th>
                            <th>Goal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Networking</td>
                            <td>Finish CCNA Books</td>
                        </tr>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Python</td>
                            <td>Complete ToDo Quest</td>
                        </tr>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Networking</td>
                            <td>Finish CCNA Books</td>
                        </tr>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Python</td>
                            <td>Complete ToDo Quest</td>
                        <tr class="notstarted-row">
                            <td>In Progress</td>
                            <td>Python</td>
                        <td>Complete ToDo Quest</td>
                        <tr class="complete-row">
                            <td>In Progress</td>
                            <td>Python</td>
                        <td>Complete ToDo Quest</td>
                        </tr>     
                        <tr>
                            <td>Not Started</td>
                            <td>Linux</td>
                            <td>Complete Linux Skill Up Challenge</td>
                        </tr>                        
                        <!-- and so on... -->
                    </tbody>
                </table>

                <div class="goals-middle">
                    <div class="top-row-3-with-padding">
                        <p class="lead">
                            Long Term Goals
                        </p>
                </div>

                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Topic</th>
                            <th>Goal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Networking</td>
                            <td>Finish CCNA Books</td>
                        </tr>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Python</td>
                            <td>Complete ToDo Quest</td>
                        </tr>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Networking</td>
                            <td>Finish CCNA Books</td>
                        </tr>
                        <tr class="inprogress-row">
                            <td>In Progress</td>
                            <td>Python</td>
                            <td>Complete ToDo Quest</td>
                        <tr class="notstarted-row">
                            <td>In Progress</td>
                            <td>Python</td>
                        <td>Complete ToDo Quest</td>
                        <tr class="complete-row">
                            <td>In Progress</td>
                            <td>Python</td>
                        <td>Complete ToDo Quest</td>
                        </tr>     
                        <tr>
                            <td>Not Started</td>
                            <td>Linux</td>
                            <td>Complete Linux Skill Up Challenge</td>
                        </tr>                        
                        <!-- and so on... -->
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Goals END -->

        <!-- JavaScript Content -->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
    <footer>
        <!-- Nav Start -->
        <nav>
            <div class="logo">
                <h4><a href=#home>bcTech</a></h4>
            </div>
            <ul class="nav-links">
                <li>
                    <a href=#home>Home</a>
                </li>
                <li>
                    <a href=#about>About</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#goals">Goals</a>
                </li>
            </ul>
        </nav>
        <!-- Nav End -->
    </footer>
    <div class="copyright">
        <div class="copyright">
            <div class="container"><small>Copyright &copy; bcTech 2021</small></div>
        </div>
    </div>
</html>

<!-- {% block content %} -->
<!-- Content goes here -->
<!-- {% endblock content %} -->